.qty {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-items: center;
	align-items: center;
	font-size: 25px;
	margin: 0 7px 5px;
}

.btn {
	background-color: transparent;
	padding: 2px;
	width: 22px;
	height: 22px;
	border: solid var(--background-color) 1px;
	border-radius: 50%;
	margin: 5px;
	color: var(--background-color);
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.qtyAmount {
	background-color: transparent;
	color: var(--background-color);
	border: none;
	font-size: 22px;
	width: 30px;
	text-align: center;
}

/* REMOVE THE SPINNERS */
/* For Webkit browsers like Chrome, Safari */
.qtyAmount[type="number"]::-webkit-inner-spin-button,
.qtyAmount[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
.qtyAmount[type="number"] {
  -moz-appearance: textfield;
}

/* For Microsoft Edge */
.qtyAmount[type="number"]::-ms-clear,
.qtyAmount[type="number"]::-ms-reveal {
  display: none;
}

.disabled {
	background-color: rgba(255,255,255,0.15);
	padding: 2px;
	width: 22px;
	height: 22px;
	border: solid var(--background-color) 1px;
	border-radius: 50%;
	margin: 5px;
	color: var(--background-color);
	font-size: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.btn:hover {
	border-width: 2px;
}

.btn:active {
	background-color: var(--card-btn-pressed-background-color);
	color: var(--orange-color);
}
