@import '../../styles/variables.scss';
.totalContainer { 
    padding: 0 $large-padding;
    .cart {
        display: flex;
        height: calc(100vh - 265px);
        gap: 20px;
        .cartContainer {
            flex: 2;
            overflow-y: auto;
            height: calc(100vh - 265px);
            padding-right: 10px;
            .cardsContainer {
                display: flex;
                flex-direction: column;
                gap: 20px;
                margin-bottom: 20px;
            }
        }
        .invoiceContainer {
            position: -webkit-sticky;
            position: sticky;
            flex: 1;
            max-width: 40%;
            z-index: 2;
        }
    }
    
}
.cartCheckingOut {
	background-color: $card-background-color;
	filter: blur(50px);
}

@media (max-width: $medium-breakpoint) {
    .totalContainer { 
        padding: 0 $medium-padding;
    .cart {
        flex-direction: column;
        height: auto;
        .cartContainer {
            flex: 1 ;
            height: auto;
            overflow-y: visible;
            padding-right: 0;
            .cardsContainer {
                display: flex;
                flex-direction: column;
                gap: 20px;
            }
        }
        .invoiceContainer {
            position: static;
            flex: 1;
            max-width: 100%;
        }
    }
}
}

@media (max-width: $small-breakpoint) {
    .totalContainer { 
        padding: 0 $small-padding;
        .cart {
            height: auto;
            .cartContainer {
                height: auto;
                flex: 1;
                overflow-y: visible;
                .cardsContainer {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                }
            }
        }
    }
}