@import '../../styles/variables.scss';

.cartCard {
    .cardContainer {
        .priceDescrip, .specialPriceDescrip {
            background-color: $accent-color;
            display: flex;
            justify-content: center;
            align-items: center;
            height: calc(100% + 60px);
            width: 30px;
            position: relative;
            padding: 0;
            p{
                width: auto;
                height: auto;
                transform: rotate(-90deg);
                transform-origin: center;
                white-space: nowrap;
                align-items: center;
                padding: 0;
                color: $background-color;
                font-size: 2vh;
            }
        }
        .specialPriceDescrip {
            background-color: $detail-color;
        }
        padding: 30px 20px;
        display: grid;
        grid-template-columns: 15px 3fr 3fr 3fr;
        gap: 10px;
        background-color: $card-background-color;
        box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
        // box-shadow: 0 0 20px 0 #e2cfce;
        align-content: center;
        justify-items: center;
        border-radius: 5px;
        align-items: center;
        .pizza {
            // width: 100%;
            // height: 100%;
            // max-height: 130px;

            // overflow: hidden;
            // position: relative;
            justify-content: center;

            display: flex;
            flex-direction: column;
            align-items: center;
            .imgContainer {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                // height: 100%;
                .pizzaImg {
                    width: clamp(60px, 60%, 120px) ;
                    height: auto;

                    // position: absolute;
                    // top: -50%;
                    // left: -50%;
                }
            }
        }
        .pizzaQty {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            .pizzaName {
                font-size: 24x;
                font-weight: 600;
                text-align: center;
            }
        }
        .price {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            gap: 10px;
            .label {
                font-size: 12px;
                font-weight: 300;
                padding-bottom: 1px;
                margin: 0;
            }
        }
        
    }
}
    
@media (max-width: $medium-breakpoint) {
    .cartCard {
        .cardContainer {
            padding: 15px 15px;
            .priceDescrip, .specialPriceDescrip {
                height: calc(100% + 30px);
            }
        }
    }
}
    
@media (max-width: $small-breakpoint) {
    .cartCard {
        .cardContainer {
            padding: 10px 5px;
            gap: 5px;
            .priceDescrip, .specialPriceDescrip  {
                height: calc(100% + 20px);
                width: 20px;
                p{
                    font-size: 1.5vh;
                }
            }
        }
    }
}
    