@import '../../styles/variables.scss';

.cartCard {
    .cardContainer {
        padding: 30px 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        background-color: $card-background-color;
        box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
        // box-shadow: 0 0 20px 0 #e2cfce;
        align-content: center;
        justify-items: center;
        border-radius: 5px;
        align-items: center;
        .pizza {
            display: flex;
            flex-direction: column;
            align-items: center;
            .imgContainer {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                .pizzaImg {
                    // width: 100px;
                    width: clamp(60px, 60%, 120px) ;
                    height: auto;
                }
            }
        }
        .pizzaQty {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            .pizzaName {
                font-size: 24x;
                font-weight: 600;
                text-align: center;
            }
        }
        .price {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            gap: 10px;
            .label {
                font-size: 12px;
                font-weight: 300;
                padding-bottom: 1px;
                margin: 0;
            }
            
            .priceDescrip {
                font-size: 10px;
                font-weight: 700;
                color: $background-color;
                background-color: $accent-color;
                text-align: center;
                border-radius: 2px;
                margin: 0;
            }
        }
        
    }
}
    
@media (max-width: $medium-breakpoint) {
    .cartCard {
        .cardContainer {
            padding: 15px 15px;
        }
    }
}
    
@media (max-width: $small-breakpoint) {
    .cartCard {
        .cardContainer {
            padding: 10px 5px;
            gap: 5px;
        }
    }
}
    