.invoice {
	background-color: var(--background-color);
	padding: 40px;
}

.invoiceContainer {
	background-color: var(--card-background-color);
	color: var(--card-text-color);
	padding: 20px;
	border-radius: 5px;
}

.btnContainer {
	display: flex;
	justify-content: center;
}

.priceDetail {
	font-size: 12px;
	margin: 5px 0;
}

.grandTotal {
	font-size: 20px;
	margin: 10px 0 20px;
}

@media (max-width: 768px) {
	.invoice {
		padding: 10px;
	}
}