@import '../../styles/variables.scss';

.cardBtn {
	display: flex;
	font-size: 18px;
	background-color: $accent-color;
	color: $background-color;
	-webkit-text-fill-color: $background-color; 
	-webkit-opacity: 1; 
	width: 200px;
	height: 50px;
	border-radius: 3px;
	border: 2px solid $accent-color;
	box-shadow: none;
	align-items: center;
	justify-content: center;
	gap:10px;
    box-shadow: $button-box-shadow
}
.cardBtn:hover {
	font-weight: 600;
	border-width: 2px;
	background-color: $secondary-accent-color;
	color: $background-color;
	-webkit-text-fill-color: $background-color; 
	-webkit-opacity: 1; 
}
.cardBtn:active {
	background-color: transparent;
	color: $primary-content-color;
	-webkit-text-fill-color: $primary-content-color; 
	-webkit-opacity: 1; 
}

.cartIcon {
	width: 25px;
	height: auto;
}

.btnText {
	margin: 0;
}
