.cardBtn {
	display: flex;
	color: var(--regular-font);
	font-family: var(--background-color);
	font-size: 18px;
	background-color: var(--orange-color);
	width: 200px;
	height: 50px;
	border: none;
	border-radius: 3px;
	border: 1px solid var(--background-color);
	box-shadow: none;
	align-items: center;
	justify-content: center;
	gap:10px;
}
.cardBtn:hover {
	font-weight: 600;
	border-width: 2px;
}
.cardBtn:active {
	background-color: var(--card-btn-pressed-background-color);
}

.cartIcon {
	width: 25px;
	height: auto;
}

.btnText {
	margin: 0;
}
