.menu {
	color: var(--text-color);
	background-color: var(--background-color);
	background-size: cover;
	background-position: center;
	/* min-height: 100vh; */
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.cardsContainer {
	padding: 20px 40px;
	display: grid;
	/* width: 80%; */
	grid-template-columns: repeat(auto-fill, minmax(295px, 1fr));
	gap: 40px;
}

@media (max-width: 768px) {
	.cardsContainer {
		padding: 20px 10px;
		grid-template-columns: repeat(auto-fill, minmax(295px, 1fr));
	}


}
