.card {
	background-color: var(--card-background-color);
	color: var(--card-text-color);
	/* min-width: 300px; */
	/* max-width: 70%; */
	flex: 1;
	height: 520px;
	/* width: 300px; */
	border-radius: 25px;
	padding: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pizzaImg {
	height: 180px;
	width: auto;
	margin: auto;
}


.pizzaTitle {
	font-size: 20px;
	font-family: var(--regular-font);
	font-weight: 700;
	padding-top: 10px;
	padding-bottom: 15px;
	text-align: center;
}

.descriptionContainer {
	height: 180px;
	max-width: 75%;
}

.description {
	/* font-size: clamp(12px, 90%, 18px); */
	font-size: 14px;
	font-weight: 300;
	font-family: var(--regular-font);
	
}

@media screen and (max-width: 768px) {
	.card {
		height: auto;
	}

	.descriptionContainer {
		height: auto;
	}
}

