
.user {
    width: 100%;
    display: flex;
    justify-content: center;
}

.userContainer{
    color: var(--text-color);
    width: 80%;
    text-align: center;
    padding: 20px;
    font-size: 16px;
}

.title{
    color: var(--text-color);
    font-family: var(--regular-font);
}

.group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
}

.label {
    color: var(--text-color);
    padding: 5px;
    font-size: 14px;
    display: flex;
    flex-grow: 2;
    flex-direction: row;
    justify-content: flex-start;
}

.input {
    padding: 1px 5px;
    width: auto;
    flex-grow: 2;
    border-color: var(--text-color);
    border-width: 1px;
    border-radius: 5px;
    margin-left: 10px;
}

.feedbackContainer {
    padding-top: 10px;
}

.btnContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 30px;

}

.button {
border: none;
border-radius: 5px;
background-color: var(--card-btn-text-color);
color: var(--card-text-color);
padding: 10px;
width: 200px;
height: 50px;
font-weight: 400;
font-size: 18px;
box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
display: flex;
justify-content: space-around;
align-items: center;
}

.btnIcon {
    width: 25px;
	height: auto;
}

.button:hover {
    font-size: 19px;
}

.button:hover .btnIcon {
    width: 26px;
	height: auto;
}


.button:active {
    background-color: var(--action-change-color);
}

.loginLink {
    font-size: 12px;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
    color: var(--text-color);
}