.cartCard {
	padding: 10%;
}
.cardContainer {
	display: grid;
	grid-template-columns: 2fr 3fr;
	gap: 10px;
	background-color: var(--background-color);
	align-content: center;
}

.pizza,
.qty {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
}

.label {
	font-weight: 700;
}

.pizzaDetails {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.pizzaImg {
	width: 100px;
	height: auto;
}
