.header {
	background-color: var(--background-color);
	display: flex !important;
	justify-content: space-between !important;
	align-items: center !important;
}

.navContainer {
	margin: 0;
	/* width: 100% !important; */
	align-items: center;
	/* flex-grow: 1; */
}

.customBrand {
	margin: 0 !important;
	width: clamp(120px, 20%, 250px);
	/* min-width: 100px; */
}

.logo {
	margin-left: clamp(30px, 12vw, 50px);
	padding: 1vw;
	width: 100%;
	height: auto;
}

.customToggle {
	border-color: var(--text-color) !important;
	width: 8vw;
	height: 8vw;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
}

.linksContainer {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	align-items: center;
}

.togglerIcon {
	color: var(--text-color);
	width: 7vw !important;
	min-width: 38px !important;
	height: auto !important;
	margin: 0 !important;
}

.navLink {
	/* font-family: var(--regular-font) !important; */
	font-size: 1.9vw !important;
	font-weight: 700 !important;
	color: var(--text-color) !important;
	padding-left: 2vw !important;
	padding-right: 2vw !important;
	text-align: right;
}

.link {
	text-decoration: none;
	color: var(--text-color) !important;
	font-family: var(--regular-font) !important;
	font-size: clamp(25px, 1.9vw, 50px) !important;
	font-weight: 700 !important;
	padding-left: 2vw !important;
	padding-right: 2vw !important;
	text-align: right;
}

.emptyCartIcon {
	color: var(--cart-color);
	width: clamp(30px, 2.2vw, 50px);
	height: auto;
	padding-left: 2vw;
}

.cartIcon {
	color: var(--text-color);
	width: clamp(30px, 2.2vw, 50px);
	height: auto;
	padding-left: 2vw;
}
