.home {
	color: var(--text-color);
	background-image: url('/public/images/background.webp');
	background-size: cover;
	background-position: center;
	min-height: 100vh;
	position: relative;
}

.imgContainer {
	position: relative;
}

.img {
	width: 22%;
	height: auto;
	position: absolute;
	top: 45%;
	left: 70%;
	transform: translate(-20%, 5%);
}

@media (max-width: 991px) {
	.img {
		width: 30%;
		top: 45%;
		left: 70%;
		transform: translate(-25%, 10%);
	}
}

@media (max-width: 576px) {
	.img {
		width: 35%;
		min-width: 120px;
		top: 45%;
		left: 60%;
		transform: translate(-25%, 10%);
	}
}
