.qty {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-items: center;
	align-items: center;
	font-size: 35px;
	margin: 0 7px;
}

.btn {
	background-color: var(--card-text-color);
	width: 75px;
	height: 50px;
	border: none;
	border-radius: 5px;
	margin: 5px;
	color: var(--card-btn-text-color);
}

.btn:active {
	background-color: var(--card-btn-pressed-background-color);
}
