@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// Colors
$background-color: #F8F5F1;
$card-background-color: #fff;
$accent-color: #CC4125;
$secondary-accent-color: #F6C667; 
$detail-color: #558b2f; 
$primary-content-color: #383838;

// Breakpoints
$medium-breakpoint: 768px;
$small-breakpoint: 576px;

// Paddings
$large-padding:40px;
$medium-padding:30px;
$small-padding:40px;

// Fonts
$regular-font: "Roboto", sans-serif;

