.cartHeader {
	padding: 0 40px;
}

.cartHeaderContainer {
	margin-top: 30px;
	/* padding: 20px; */
	padding-bottom: 20px;
	display: flex;	
	/* background-color: var(--card-background-color); */
	align-content: flex-start;
	border-radius: 5px;
	color: var(--card-background-color);
	align-items: center;
	justify-items: center;
}

.label {
	font-weight: 700;
	font-size: 24px;
	margin: 0;
}

@media (max-width: 768px) {
	.cartHeader {
		padding: 0 10px;
	}

	.cartHeaderContainer {
		justify-content: center;
	}
}