.checkout {
	position: fixed;
	top: auto;
	/* left: auto;
	right: auto;
	bottom: auto; */
	background-color: transparent;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.checkoutContainer {
	background-color: var(--card-background-color);
	padding: 20px;
	border-radius: 5px;
	position: relative;
	max-width: 800px;
	width: 80%;
	box-shadow: 1px 1px 1px var(--shadow-color);
}

.priceDetailsContainer {
	padding: 20px;
	color: var(--card-text-color);
}
.closeBtnContainer {
	display: flex;

	align-items: center;
	justify-content: right;
}
.modalCloseBtn {
	border: none;
	background-color: var(--card-btn-background-color);
	padding: 10px 15px;
	cursor: pointer;
	width: auto;
	border-radius: 5px;
}

.modalCloseBtn:active {
	border: none;
	background-color: var(--card-btn-pressed-background-color);
	padding: 10px 15px;
	cursor: pointer;
	width: auto;
	border-radius: 5px;
}

.closeBtnIcon {
	color: var(--card-btn-text-color);
}

.btnContainer {
	display: flex;
	justify-content: center;
}

.priceDetail {
	font-size: 12px;
	margin: 5px 0;
}

.grandTotal {
	font-size: 2.5vw;
	margin: 10px 0;
}

.feedbackContainer {
	display: flex;
}

.label {
	font-size: 10px;
	color: var(--card-text-color);
}
.orderNumber {
	font-size: 12px;
	color: var(--card-text-color);
}
