@import '../../styles/variables.scss';

.checkout {
	position: relative;
	// top: auto;
    margin-top: 10px;
	background-color: transparent;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	.checkoutContainer {
		background-color: $card-background-color;
		padding: 20px;
		border-radius: 5px;
		width: 320px;
		box-shadow: 2px 2px 4px $card-box-shadow;
		.closeBtnContainer {
			display: flex;
			align-items: center;
			justify-content: right;
			.modalCloseBtn {
				border: none;
				background-color: transparent;
				padding: 10px 15px;
				cursor: pointer;
				width: auto;
				border-radius: 5px;
			}
		}
		.priceDetailsContainer {
			.priceDetail {
				font-size: 12px;
				margin: 5px 0;
			}
			.grandTotal {
				font-size: 18px;
				margin: 10px 0;
			}
		}
		.btnContainer {
			display: flex;
			justify-content: center;
		}
	}
	.feedbackContainer {
		display: flex;
		background-color: $card-background-color;
		padding: 20px;
		border-radius: 5px;
		position: relative;
		max-width: 800px;
		width: 80%;
		box-shadow: 1px 1px 1px $card-box-shadow;
		justify-content: center;
	}
}

