@import '../../styles/variables.scss';

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	min-height: 60vh;
	position: relative;
    .carouselContainer {
	
    }
}

@media (max-width: $medium-breakpoint) {

}

@media (max-width: $small-breakpoint) {

}
