.header {
	background-color: var(--header-background-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
	margin-bottom: 50px;
	width: 100%;
}

.navbarContainer {
	width: 100%;
	display: flex;
	padding: 0 40px;
	justify-content: space-between;
}

.logo {
	width: 80px;
	height: auto;
	padding-top: 5px;
	margin-bottom: -35px;
	transform: rotate(-0.04turn);
}

.navbar {
	align-content: center;
}

.linksContainer {
	display: flex;
	align-items: center;
	height: 100%;
}

.customToggle {
	position: absolute;
	top: 12px;
	right: 10%;
	width: 20px;
	height: 20px;
	display: none;
	align-self: flex-end;
}

.togglerIcon {
	color: var(--toggler-icon-color);
	min-width: 16px ;
	height: auto ;
	margin: 0 ;
}

.link {
	text-decoration: none;
	display: flex;
	flex-direction: column;
	height: 100%;
	color: var(--card-text-color);
	font-family: var(--regular-font);
	font-size: 14px;
	font-weight: 300;
	padding-left: 2vw;
	padding-right: 2vw;
	text-align: right;
	justify-content: center;
}

.link:hover{
	background-color: var(--card-btn-text-color);
	font-weight: 600;
}

.link:active{
	background-color: var(--action-change-color);
}

.cart {
	display: flex;
	justify-content: space-between;
}

.emptyCart {
	display: flex;
	justify-content: space-between;
	color: var(--empty-cart-color)
}

.emptyCartIcon {
	color: var(--empty-cart-color);
	width: 14px;
	height: auto;
}

.cartIcon {
	color: var(--card-text-color);
	width: 14px;
	height: auto;
}

.cartAmount {
	padding-left: 3px;
}


@media (max-width: 768px) {
	.customToggle {
		display: flex;
	}

	.navbarContainer {
		flex-direction: column;
		padding: 0 10px 20px;
	}

	.linksContainer {
		display: none;
	}

	.active {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	.link {
		padding: 2px 0;
		width: 100%;
		align-items: center;
	}

}