@import '../../styles/variables.scss';

.feedback {
    background-color: $accent-color;
    width: 50%;
    border-radius: 5px;
    padding: 10px 10px;
    .feedbackMsg {
        color: $background-color;
        font-size: 16px;
        text-align: center;
    }
}

