

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--background-color: #f5efdb;
	--header-background-color: rgba(51, 3, 3);
	--text-color: rgba(51, 3, 3);
	--header-links-hover-background: rgba(51, 3, 3, 0.2) ;
	--card-background-color: rgba(51, 3, 3);
	--card-btn-background-color: #f5efdb;
	--card-btn-pressed-background-color: rgba(245, 239, 219, 0.8);
	--shadow-color: rgba(245, 239, 219, 0.1);
	--menu-background-color: rgba(232, 201, 150, 0.2);
	--empty-cart-color: rgba(245, 239, 219, 0.2);
	--card-text-color: #f5efdb;
	--card-btn-text-color: #ff6500;
	--orange-color: #ff6500;
	--action-change-color:rgba(255, 101, 0, 0.5);
	--cart-color: rgba(162, 10, 10, 0.2);
	--regular-font: "Montserrat", sans-serif;
	--toggler-icon-color: #f5efdb;

	/* --bs-breakpoint-xs: 0;
    --bs-breakpoint-sm: 576px;
    --bs-breakpoint-md: 768px;
    --bs-breakpoint-lg: 992px;
    --bs-breakpoint-xl: 1200px;
    --bs-breakpoint-xxl: 1400px; */
}

body {
	background-color: var(--background-color) !important;
	color: var(--text-color) !important;
	font-family: var(--regular-font) !important;
}

h1, h2, h3, h4, h5, h6, p, label {
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
}